<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home page</title>
</head>
<body>
	<h1>Home page</h1>
	{{if not .IsLogin}}
		<p>register <a href="{{.URL}}/register">register</a></p>
		<p>google account <a href="{{.URL}}/login">login</a></p>
	{{else}}
		<h4>Welcome {{.Username}}!!!</h4>
		<p>See list of users at <a href="{{.URL}}/userList">user page</a></p>
		<p><a href="{{.URL}}/logout">logout</a></p>
	{{end}}
</body>
</html>
